.create-template-view
{
    .text-left
    {
        padding-left: 0px;
    }
    
    .attributes
    {
        margin-top: 30px;
        
        .attribute-panel
        {
            width: 300px;
            
            .form-group-sm
            {
                margin-top:0px;
            }
        }
    }
}